.center {
  text-align: center;
}

.left-column {
  text-align: right;

}
.right-column {
  text-align: left;
  border-left: 3px #1EAEDB solid;
  padding-left: 4%;
}
.sub-title {
  font-weight: bold;
}
.container {
  margin-top: 20px;
}